<div class="text-center">
  <h1><%= @user.name %></h1>

  <%= image_tag user_avatar(@user) %>

  <% if @user == current_user %>
    <p class="buffer-top">
      <%= link_to t('links.edit_profile'), edit_user_path(@user), class: 'btn btn-default' %></p>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <% if @user.events.any? %>
        <h3><%= t('heading.organized') %></h3>
        <div class="row">
          <%= render partial: 'events/event', collection: @user.events %>
        </div>
      <% else %>
        <p class="buffer-top py-4">
          <%= t('inscription.user_has_not_yet_organized_any_events') %>
        </p>
      <% end %>
    </div>
  </div>
</div>
