<h1 class="border-bottom text-dark pb-2"><%= t('heading.access_only_by_pin_code') %></h1>
<div class="col-sm-6 col-md-4 pt-2">
  <%= form_for('', method: 'post') do |f| %>
    <div class="form-group">
      <%= f.label :pincode, t('inscription.pincode') %>
      <%= f.password_field :pincode, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit t('links.save'), class: 'btn btn-primary' %>
    </div>
  <% end %>
  <%= link_to t('links.to_home'), events_path %>
</div>
