<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <script src="https://api-maps.yandex.ru/2.1/?apikey=<%= ENV['SECRET_KEY'] %>&lang=ru_RU" type="text/javascript"></script>

  <title><%= content_for?(:title) ? yield(:title) : 'Bbq' %></title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/frontend"></script>
  <![endif]-->
</head>
<body>

<div class="navbar navbar-dark bg-dark navbar-expand-md">
  <div class="container">
    <div class="navbar-nav">
      <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="nav navbar-nav justify-content-end ml-auto">
        <% if user_signed_in? %>
          <li><%= link_to "#{current_user.name}", current_user, class: 'nav-link' %></li>
          <li><%= link_to t('links.log_off'), destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to t('links.sign_in'), new_user_session_path, class: 'nav-link' %></li>
          <li><%= link_to t('links.register'), new_user_registration_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= bootstrap_flash %>

      <%= yield %>
    </div>
    <div class="col-lg-3">
    </div>
  </div><!--/row-->

  <footer>
    <p>&copy; <%= t('app.company') %> 2021</p>
  </footer>

</div> <!-- /container -->
</body>
</html>
